fastapi[standard]>=0.112.0,<0.113.0
nltk==3.8.1
pgvector==0.3.2
PyPDF2==3.0.1
python-dotenv==1.0.1
Requests==2.32.3
SQLAlchemy==2.0.32
torch==2.4.0
transformers==4.44.0
uvicorn==0.30.6
psycopg2-binary==2.9.9
